$color-text: #fff;
$active-filters: cadetblue;
$border-filters: #fff;
$color-border: #278d9f;
$favorite-first: #fff;
$favorite-second: purple;
$favorite-third: #4f52f8;
$favorite-fourth: #000;
$basic-background-color: #000;
$basic-border: #fff;
$backgroud-btn: rgba(19, 20, 21, 0.3);
