@mixin stretch-wide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin stretch-lengthwise {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
