@import "../../../../mixin.scss";
.products {
  padding: 30px 0 30px 30px;
}

h5 {
  font-size: 20px;
}
.product {
  @include stretch-wide;
  flex-wrap: wrap;
  &__item {
    backdrop-filter: blur(3px);
    background-color: rgba(19, 20, 21, 0.3);
    max-width: 235px;
    margin: 10px;
    border: 1px solid #278d9f;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    &:hover {
      .product__item-image {
        transform: scale(1.1);
      }
    }
    p,
    h5 {
      padding: 10px 0 0 10px;
    }
  }
  &__item-image {
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.5s;
  }
  &__item-btn {
    text-align: center;
    backdrop-filter: blur(3px);
    background-color: rgba(19, 20, 21, 0.3);
    border: 1px solid #278d9f;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    margin: 10px auto;
    padding: 0 25px;
    position: relative;
    width: 80%;
    @include center;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 0px 14px #278d9f;
    }
  }
}


.product__basket-add.active-basket-item {
  opacity: 1;
}
.no-found{
  display: none;
  font-size: 30px;
  font-style: italic;
  padding-top: 20px;
  text-align: center;
}
.not-popular,
.not-search-text,
.not-active-except-samsung,
.not-active-except-apple,
.not-active-except-xiaomi {
  display: none;
}