@import "../../../../mixin.scss";
h4 {
  font-size: 35px;
  margin-bottom: 20px;
}
.filter {
  @include stretch-wide;
  position: sticky;
  top: 0;
}
.filter-value {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  backdrop-filter: blur(3px);
  background-color: rgba(19, 20, 21, 0.3);
  padding: 30px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__filter {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    &_slider {
      display: block;
    }
    &_search {
      display: block;
      outline: none;
      margin-bottom: 20px;
      label {
        margin-bottom: 10px;
      }
      .search {
        backdrop-filter: blur(3px);
        background-color: rgba(19, 20, 21, 0.3);
        border: 1px solid #278d9f;
        border-radius: 15px;
        background-color: transparent;
        color: #fff;
        height: 40px;
        margin-right: 0;
        width: 100%;
        padding: 0 16px;
        option {
          background: black;
        }
      }
    }
    &_reset {
      column-gap: 20px;
      display: flex;
      flex-wrap: wrap;
      button {
        backdrop-filter: blur(3px);
        background-color: rgba(19, 20, 21, 0.3);
        border: 1px solid #278d9f;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        height: 40px;
        margin: 10px 0;
        padding: 0 25px;
      }
    }
  }
  &__phone {
    img {
      @include block-btn;
    }
  }
  &__number-cameras {
    @include block-btn;
    @include center;
  }
  &__color {
    @include block-btn;
    &_white {
      background-color: #fff;
      &:before {
        color: black;
      }
    }
    &_purple {
      background-color: purple;
      &:before {
        color: black;
      }
    }
    &_blue {
      background-color: rgb(79, 82, 248);
    }
    &_gray {
      background-color: gray;
    }
    &_black {
      background-color: black;
    }
  }
}
.favorite-input {
  display: none;
}
.favorite-label {
  transition: 0.5s;
  @include block-btn;
  @include center;
  position: relative;
  &:before {
    content: "🗸";
    transition: 0.5s;
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 10px;
  }
}
.favorite-input:checked + .favorite-label {
  transform: scale(1.1);
  &:before {
    opacity: 1;
  }
}
.favorite-icon,
.favorite-camera {
  transition: 0.5s;
}
.favorite-input:checked + .favorite-icon {
  transform: scale(1.1);
  img {
    background-color: cadetblue;
    border: 3px solid #ffffff;
  }
}
.favorite-input:checked + .favorite-camera {
  transform: scale(1.1);
  border: 3px solid #ffffff;
  background-color: cadetblue;
}

.slider-value {
  &__range {
    @include stretch-wide;
  }
}
.slider-value-start,
.slider-value-end,
.slider-year-start,
.slider-year-end {
  @include block-btn;
  @include center;
}
