@import "../../mixin.scss";
@import "../../color.scss";
.header {
  padding: 30px 0;
  border-bottom: 1px solid $basic-border;
  border-radius: 50px;
  top: 0;
  position: sticky;
  z-index: 5;
  background: $basic-background-color;
  &__container {
    @include stretch-wide;
  }
  &__logo {
    display: flex;
    align-items: center;
    color: $color-text;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.055em;
  }
  &__basket {
    position: relative;
  }
  &__basket-amount {
    color: $color-text;
    background: black;
    position: absolute;
    border: 1px solid $basic-border;
    border-radius: 100%;
    @include center;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
  }
}
